<a href="https://colab.research.google.com/github/maryamamin12/python_practice/blob/main/class1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello world")

Hello world

In [ ]:
print("Hello maryam")

Hello maryam

In [ ]:
print("welcome to python programming!")
print("i'm future develope")

welcome to python programming!
i'm future develope

# creating variables for personal information

In [ ]:
name = "maryam"
print(name)

age = 19
print(age)

maryam
19

In [ ]:
fav_celebrity = "Elone Musk"
print(fav_celebrity)

fav_game = "ludo"
print(fav_game)

fav_food = "biryani"
print(fav_food)

Elone Musk
ludo
biryani

# Data Type of Python:

1. String

In [ ]:
sentence = "i am learning python"
print(sentence)

fav_number = "twenty nine"   # that is called string
print(fav_number)

i am learning python
twenty nine

In [ ]:
name = "my name is maryam"  # is called string data type
print(name)

age = "nineteen"
print(age)
fav_number = "2222"  # is also called string
print(fav_number)

my name is maryam
nineteen
2222

2. Number

In [ ]:
fav_number = 666666  # is called number data type
print(fav_number)

age = 19
print(age)

666666
19

 Concatenation.

In [ ]:
sentence = "my name is"
name = " maryam "
print(sentence + name)  # that is called concatenation

my name is maryam

In [ ]:
first_name = "maryam"
last_name = " amin "
print(first_name + last_name)  # concatenation

maryam amin

In [ ]:
word1 = " i love"
word2 = " coding "
print(word1 + word2)

 i love coding

3 Float.

In [2]:
number = 6.6
name = "maryam"
print(number)
print(name)

6.6
maryam

In [4]:
number = 77.8
name = "maryam"
print(type(number))    # identified the data type
print(type(name))

<class 'float'>
<class 'str'>

In [11]:
word = "coding"
number = 45
fav_number = 6.7
print(type(word))
print(type(fav_number))
print(type(number))

<class 'str'>
<class 'float'>
<class 'int'>