<a href="https://colab.research.google.com/github/maryamamin12/python_practice/blob/main/class1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello world")

Hello world

In [ ]:
print("Hello maryam")

Hello maryam

In [ ]:
print("welcome to python programming!")
print("i'm future develope")

welcome to python programming!
i'm future develope

# creating variables for personal information

In [ ]:
name = "maryam"
print(name)

age = 19
print(age)

maryam
19

In [ ]:
fav_celebrity = "Elone Musk"
print(fav_celebrity)

fav_game = "ludo"
print(fav_game)

fav_food = "biryani"
print(fav_food)

Elone Musk
ludo
biryani

# Data Type of Python:

1. String

In [ ]:
sentence = "i am learning python"
print(sentence)

fav_number = "twenty nine"   # that is called string
print(fav_number)

i am learning python
twenty nine

In [ ]:
name = "my name is maryam"  # is called string data type
print(name)

age = "nineteen"
print(age)
fav_number = "2222"  # is also called string
print(fav_number)

my name is maryam
nineteen
2222

2. Number

In [ ]:
fav_number = 666666  # is called number data type
print(fav_number)

age = 19
print(age)

666666
19

### Concatenation.

In [ ]:
sentence = "my name is"
name = " maryam "
print(sentence + name)  # that is called concatenation

my name is maryam

In [ ]:
first_name = "maryam"
last_name = " amin "
print(first_name + last_name)  # concatenation

maryam amin

In [ ]:
word1 = " i love"
word2 = " coding "
print(word1 + word2)

 i love coding

3. Float.

In [ ]:
number = 6.6
name = "maryam"
print(number)
print(name)

6.6
maryam

In [ ]:
number = 77.8
name = "maryam"
print(type(number))    # identified the data type
print(type(name))

<class 'float'>
<class 'str'>

In [ ]:
word = "coding"
number = 45
fav_number = 6.7
print(type(word))
print(type(fav_number))
print(type(number))

<class 'str'>
<class 'float'>
<class 'int'>

# f-string

In [ ]:
name = "maryam"
print(f"my name is {name}")  # combining text and a variable in the same line using f is called an f-string

my name is maryam

In [ ]:
a = 6
b = 4
print(f"the sum of {a+b}")  # identified the f-string

the sum of 10

In [ ]:
age = 20
print(f"i am {age} years old")

i am 20 years old

In [ ]:
word1 = "miss"
print(f"hello {word1}")

hello miss

In [ ]:
word2 = "python on july 18,2025."
print(f"I started learning {word2}")

I started learning python on july 18,2025.

Doc-string

In [ ]:
paragraph = """my name is maryam.
i am learing python.
i am 20 years old """   # Docstring means: triple quotes """ """ ke ander explanation.
print(paragraph)

my name is maryam.
i am learing python.
i am 20 years old

In [ ]:
paragrapgh1 = """Every new day is a fresh start.Whatever happend yesterday-learn from it,but dont stay stuck in it.
Even your smallest effort creat a new path forward.sometimes the journey feels hard but remember your hardwork never goes to waste.
You are learing growing and becoming the person you dream of being learn to belive in yourself."""
print(paragrapgh1)

Every new day is a fresh start.Whatever happend yesterday-learn from it,but dont stay stuck in it.
Even your smallest effort creat a new path forward.sometimes the journey feels hard but remember your hardwork never goes to waste.
You are learing growing and becoming the person you dream of being learn to belive in yourself.

In [ ]:
paragraph = """ this function takes two number
 and returns their sum."""  # this is docstring
print(paragraph)

 this function takes two number
 and returns their sum.

# Assignment

In [ ]:
name = "Amina"
print(f"""Hi {name},
you got a free coupon code:
Best regards,
maryam""") # use fstring and docstring in this assignment

Hi Amina,
you got a free coupon code:
Best regards,
maryam

# Arithmetic operators

1.Addition (+)

In [2]:
a = 3
b = 5
result = a + b
print("Addition:",result)

Addition: 8

In [3]:
item1 = 13
item2 = 5
result = item1 + item2
print("Addition:",result)

Addition: 18

2. Subtraction (-)

In [4]:
num1 = 17
num2 = 5
total = num1 - num2
print("total:",total)

total: 12

In [5]:
x = 45
y = 17
result = x - y
print("subtraction:",result)

subtraction: 28

In [8]:
math_marks = 98
eng_marks = 67
total_marks = math_marks - eng_marks
print("total marks:",total_marks)

total marks: 31

3.Multiplication (*)

In [11]:
a = 4
b = 3
result = a * b
print("Multiplication:",result)

Multiplication: 12

In [12]:
length = 43
width = 13
area = length * width
print("Area:",area)

Area: 559

4.Division (/)

In [13]:
x = 3
y = 2
result = x / y  # Division always return a float
print("division:",result)

division: 1.5

5.Modulus (%)