<a href="https://colab.research.google.com/github/maryamamin12/python_practice/blob/main/Whole_course_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")   # print is a buildin function in python

hello world

# Variables

In [ ]:
name = "zain"
age = 5
height = 6.3

print(name, age, height)

zain 5 6.3

# comments in python

In [ ]:
### tha is called  comments in python

# Data types in python

In [ ]:
#Numeric type
"""
1. int--- whole numbers (100, 200) etc
2. float-- decimal numbers (1.23, 4.6)
"""
# Example of numeric type

a = 10
b = 1.23

print(a, b)

print(type(a), type(b))

10 1.23
<class 'int'> <class 'float'>

In [ ]:
# Bolean data type
"""
True/ False
Logical operation
"""
is_rating = True
is_sunny = False

print(is_rating, is_sunny)


# String

text = "this is a string"
print(text)

# List

my_list = ["data1", "data2", "data3"] #list kam karta hy like a box
print(my_list)

True False
this is a string
['data1', 'data2', 'data3']

# Dictionary

In [ ]:
"""
pairs
key_values
curly braces
"""

persons = {
    "name" : "maryam",
    "age" : 22,
}

print(persons)

{'name': 'maryam', 'age': 22}

# Operstors