Python divides the operators in the following groups:

Arithmetic operators
Assignment operators
Comparison operators
Logical operators
Identity operators
Membership operators
Bitwise operators

# Python Arithmatic Operator

In [ ]:
table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

In [2]:
a : int = 7
b : int = 8
print(a + b)
print(a - b) # Subtraction
print(a * b) # Multiplication
print(a / b) # Dibision
print(a ** b) # Exponention
print(a //b) # Floor Division

15
-1
56
0.875
7
5764801
0

In [3]:
a :int = 11
b :int = 21
print(a % b)

11

In [4]:
print(2 ** 2)
print(2 ** 3)

4
8

In [5]:
print(12 / 3)

4.0

In [6]:
print(14 / 3)

4.666666666666667

In [7]:
print(14 // 3)

4

# Python Assignment Operators

In [8]:
# +=
a :int = 7
print(a)
a += 2
print(a)

7
9

# Python Comparison Operators

In [9]:
a :int = 12
b :int = 11
print(a == b)
# a == b
# 12 == 11
# False

False

In [10]:
a :int = 11
b :int = 11
print(a == b)

True

In [11]:
a :int = 12
b :int = 11
print(a != b)

True

In [15]:
a :int = 14
b :int = 16
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True

In [16]:
a :str = 'A'
b :str = 'B'
print(b <= a)

False

# Python Logical Operators

In [17]:
# and = lazmi
# or = optional
#1          2       3       4
True and True and True and True
True and False and True and True
print(True and True and True and True)
print(True and True and True and True)

True
True

In [18]:
not True

False

In [19]:
name: str = "Maryam"
print(not name=="Maryam")

False

# Python Identity Operators

In [20]:
x : str = 'abc'
z : str = 'abc'
print(id(x))
print(id(z))

140704147015952
140704147015952

In [21]:
x is z

True

In [23]:
x is not z

False

In [25]:
x : str = 'abc'
z : str = 'xyz'
print(id(x))
print(id(z))

x is z

140704147015952
2306888981056

False

# Python Membership Operators

In [27]:
name: list[str] = [chr(i) for i in range(65,91)]
name
"D" in name

True

In [28]:
name: list[str] = [chr(i) for i in range(65,91)]
print(name)
"pakistan" in name

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

False

In [31]:
name : list[str] = ['maryam', 'rimsha', 'amina']
uinput : str = input("Enter your name")
print(uinput in name)
uinput not in name

True

False

# PEMDAS

In [32]:
print(3+ 2 - 2 * 3 / 4 + 4)

7.5

In [33]:
print((6 + 3) - (6 + 3))

0

In [34]:
print(100 + 5 * 3)

115

In [35]:
universe_age:int = 14_000_000_000
print(universe_age)

14000000000

In [36]:
a , b , c = 'Maryam', 7, 3.0
print(a)
print(b)
print(c)

Maryam
7
3.0

In [37]:
"""
asdf
asd
f
"""
print("hello")

hello

In [38]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!